<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1><%= article.title %></h1>
        <h3><%= article.author%></h3>
        <% article.tags.forEach(t => { %>
            <span><%= t %></span>
       <% }) %>
       <p><%= article.description %></p>
       <h3><%= article.likes ? article.likes : 0 %></h3>
       <a href="/articles/<%= article.id %>/likes">
        <button>Like</button>
       </a>
       <a href="/articles/<%= article.id %>/edit">
        <button>Edit</button>
       </a>
       <a href="/articles/<%= article.id %>/delete">
        <button>Delete</button>
       </a>
    </div>
</body>
</html>